<div class="sidebar sidebar-dark sidebar-fixed sidebar-self-hiding-xl show" id="sidebar">
  <div class="sidebar-brand d-lg-down-none">
    Admin
  </div>
  <ul class="sidebar-nav" data-coreui="navigation">
    <li class="nav-item"><a class="nav-link" href="/admin">
      <svg class="nav-icon">
        <use xlink:href="/coreui/icons/sprites/free.svg#cil-speedometer"></use>
      </svg> Dashboard<span class="badge badge-sm bg-info ms-auto">NEW</span></a></li>
    <li class="nav-title">列表</li>
    <li class="nav-item"><a class="nav-link" href="/admin/users">
       Users</a></li>
    <li class="nav-item"><a class="nav-link" href="/admin/webhooks">
      Webhooks</a>
     <li class="nav-item"><a class="nav-link" href="/admin/schedules">
      Schedules</a>  
    </li>
  </ul>
<!--  <button class="sidebar-toggler" type="button" data-coreui-toggle="unfoldable"></button>-->
</div>
