<div class="container">
  <h4>
    
  </h4>
  <div class="row">
    <div class="card">
      <div class="card-header">
        <div class="card-title">
          Webhook list  
        </div>
        
      </div>
      <div class="card-body">
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">uuid</th>
              <th scope="col">Operation</th>              
            </tr>
          </thead>
           <tbody>
            <% @webhooks.each do |webhook| %>
              <tr>
                <th scope="row"><%= webhook.id %></th>
                <td><%= webhook.uuid %></td>                
                <td><%= link_to webhook.uuid, webhook_path(webhook) %></td>
              </tr>              
            <% end %>                  
          </tbody>
        </table>  
      </div>
    </div>
  </div>
</div>
