<div class="">


  <p class="alert alert-success copy" data-clipboard-text="<%= "#{ENV['WEBSITE_URL']}/r/#{@webhook.uuid}" %>">
    你当前的链接是 <span class="btn"><%= "#{ENV['WEBSITE_URL']}/r/#{@webhook.uuid}" %> 复制</span>
  </p>
</div>