<div class="card">
  <div class="card-body d-flex flex-column flex-center">
    <p class="h4 text-center text-danger">
      <%= "这个webhook不存在或者你没有权限，2s后自动跳转" %> 
    </p>
    <a class="btn btn-primary" href="/">
      返回
    </a>
  </div>
</div>

<script !src="">
  $(() => {
    setTimeout(() => {
      window.location.href = "/"
    }, 11000)
  })

</script>