<div class="card mt-2">
  <div class="card-header"><i class="fa fa-align-justify"></i> Raw content</div>
  <div class="card-body">
    <table class="table table-responsive-sm">
      <tbody id="editor">
        <%= request.content %>
      </tbody>
    </table>
  </div>
</div>