//@import '~bootstrap/scss/bootstrap';
@import "./stylesheets/normalize";
@import "~@coreui/coreui/scss/coreui";

a, u {
  text-decoration: none;
}

#request_detail table {
  font-size: 85%;
}

#editor {
    // position: absolute;
    width: 480px;
    height: 250px;
}