<div class="card">
  <div class="card-header"><i class="fa fa-align-justify"></i>
    <h6>Headers</h6>
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm table-striped">
      <tbody style="word-break: break-all;">
      <% backpack.headers.each do |k, v| %>
      <tr>
        <td width="30%"><%= k %></td>
        <td><%= v %></td>
      </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>