<div class="card">
  <div class="card-header"><i class="fa fa-align-justify"></i> Form Params</div>
  <div class="card-body">
    <table class="table table-responsive-sm">
      <tbody>
      <% (backpack.form_params || {}).each do |k, v| %>
        <tr>
          <td><%= k %></td>
          <td><%= v %></td>
        </tr>
      <% end %>
      </tbody>
    </table>
  </div>
</div>