<div class="card">
  <div class="card-body">
    <h5 class='card-title'>发起请求 </h5>
    <div class="card-text">
    <p><span class='badge bg-success'><%= variable.input_method%></span></p>
    <p><span class='badge bg-info'>地址</span><%= variable.input_url%></p>
  </div>
  </div>
</div>