<div class="row">
  <div class="col-md-5">
    <div>
      <h6>JS内容编辑</h6>
      要求最后必须返回以这个js函数, 例如
      <pre>
        let method = window.params.method;
        function goPage() {
          if(method === 'POST') {
            return 1;
          } else {
            return 2;
          }
        }

        return goPage();
      </pre>
      <p>从上层传递过来的变量，通过 window.params.x 可访问到, 如</p>
      <code>window.params.ip</code> 可得到ip
      <code>window.params.headers.host</code> 可得到headers.host
    </div>
  </div>

  <div class="col-md-7">
    <div >
      <div id="editor" class="form-control" style="width: 500px; height: 300px">
      </div>
      <div id="answer"></div>
      <% if @custom_action.id.present? %>
        <button type="button" class="btn btn-secondary" onclick="runScript()" >执行</button>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
    var JavaScriptMode = ace.require("ace/mode/javascript").Mode;
    var editor = ace.edit("editor");
    editor.session.setMode(new JavaScriptMode());
    ace.require("ace/ext/language_tools");
    editor.setOptions({
      enableBasicAutocompletion: true,
      enableSnippets: true,
      enableLiveAutocompletion: true,
      useWrapMode: true,   // wrap text to view
      indentedSoftWrap: false, 
      behavioursEnabled: false,
    });    
    
    editor.session.setValue($('#custom_action_input_filter_val').val().trim())
    editor.session.on('change', function(delta) {
      // console.log('delta', delta)
      console.log(editor.getValue());
      $('#custom_action_input_filter_val').val(editor.getValue())     
    });

  function runScript() {
    const run_script_url = "/webhooks/<%= @webhook.uuid %>/custom_actions/exec_script?custom_action_id=<%= @custom_action.id %>.json"
     $.ajax({
        url: run_script_url,
        method: 'POST',
        data: {
          content: $('#custom_action_script_content').val()  
        }
      }).then((res) => {
        console.log('res', res)
        $("#answer").html(JSON.stringify(res))
      })
  }
</script>