<div class="card">
  <div class="card-body">
    <h5 class='card-title'>获取变量 <%= variable.input_name %></h5>
    <div class="card-text">
    <p><span class='badge bg-success'><%= variable.input_category%></span></p>
    <p><span class='badge bg-info'>获取值</span><%= variable.input_filter_val%></p>
  </div>
  </div>
</div>