<div class="row">
  <div class="col-md-5">
    <div>
      <h6>JS内容编辑</h6>
      要求最后必须返回以这个js函数, 例如
      <pre>
  let method = request.method;
  function goPage() {
    if(method === 'POST') {
      return 1;
    } else {
      return 2;
    }
  }
  return goPage();
      </pre>
      <p>从上层传递过来的变量，通过 request.ip 如</p>
      <code>request.ip</code> 可得到ip
      <code>request.headers.host</code> 可得到headers.host
    </div>
  </div>
  <div class="col-md-7">
    <div>
      <div id="raw_code" class="visually-hidden"><%= @custom_action.input_filter_val %></div>
      <div id="editor" class="form-control" style="width: 500px; height: 300px">
      </div>
      <div id="answer"></div>
      <% if @custom_action.id.present? %>
        <button type="button" class="btn btn-secondary" onclick="runScript()" >执行</button>
      <% end %>
    </div>
  </div>
</div>
