<% @accounts.each do |account| %>
  <div>
    <%= account.id %>
    <% account.webhooks.each do |t| %>
      <p>Detail <%= link_to t.uuid, webhook_path(t) %></p>
      <p>token <%= link_to t.uuid, "/r/#{t.uuid}" %></p>
    <% end %>
  </div>

<% end %>