<div class="container">
  <h4>
    account id <%= @account.id %>
    current account tokens <%= @current_token&.uuid %>
  </h4>
  <div class="row">
    <div class="col-md-3">
      <ul>
        <% @backpacks.each do |backpack| %>
          <li><%= link_to backpack.id, backpacke_path(backpack.uuid) %></li>
        <% end %>
      </ul>
    </div>
    <div class="col-md-8">
    </div>
  </div>
</div>
